/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

ul {
    list-style: none;
}

html,
body {
    -webkit-perspective: 1000px;
    background: #457fca; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca); /* Chrome 10-25, Safari 5.1-6 */
    background-image: url('bg.jpg');
    background-size: cover;
    padding: 0;
    height: 100%;

    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    z-index: 100;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    z-index: 100;
}

/* Padding for spacing */
.inner {
    padding: 30px 42px;
    z-index: 100;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 100;

}

.masthead-nav {
    z-index: 6;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);

}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: none;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 120%;
    height: 0;
    overflow: hidden;

}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}


.avatar .me {
    margin-bottom: -30px;
    width: 125px;
    height: 3%;
    padding: 1px;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    z-index: 5;
    vertical-align: middle;
}

.container {
    border: 1px solid white;
    /*background-color: #72A0D2;*/
    /*background-color: #72A0D2;*/
    background: #2F3336;
    width: 70%;
    height: 30%;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
    border-radius: 25px;
    transition: all .5s;
}

.container:hover {
    background: #00b9b7;

}


@media all and (max-width: 1800px) {
    .floated_div {
        display: none;
    }

    .LI-simple-link {
        display: none;
    }

    .LI-profile-badge {
        display: none;
    }
}

.main {
    padding-top: 150px;
    padding-bottom: 75px;
}

.inner-container .text {
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid white;*/
    font-size: 15px;
}

.inner-container .skills {
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.inner-container h1, h2, h3, h4, h5 {
    text-align: left;
    font-size: 20px;

}

/*
 * Affix and center
 */

@media all and (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

#skill {
    margin-top: -25px;
    list-style: none;
    width: 90%;
    margin-left: 3%;
    position: relative;
    line-height: 2em;
    font-size: 10px;
}

#skill li {
    margin-bottom: 10px;
    margin-left: 50px;
    background: #e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
    height: 8px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li h3 {
    position: relative;
    margin-left: -78px;
    font-size: 13px;
}

.bar {
    height: 6px;
    margin: 1px 2px;
    position: absolute;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    float: left;
}

.cplus {
    width: 65%;
    -moz-animation: cplus 2s ease-out;
    -webkit-animation: cplus 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)

}

.c {
    width: 65%;
    -moz-animation: c 2s ease-out;
    -webkit-animation: c 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)

}

.html-css {
    width: 65%;
    -moz-animation: html-css 2s ease-out;
    -webkit-animation: html-css 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

.java {
    width: 80%;
    -moz-animation: java 2s ease-out;
    -webkit-animation: java 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

.php {
    width: 70%;
    -moz-animation: php 2s ease-out;
    -webkit-animation: php 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

.python {
    width: 70%;
    -moz-animation: python 2s ease-out;
    -webkit-animation: python 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

.sql {
    width: 50%;
    -moz-animation: sql 2s ease-out;
    -webkit-animation: sql 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

.javascript {
    width: 20%;
    -moz-animation: javascript 2s ease-out;
    -webkit-animation: javascript 2s ease-out;
    background-color: #66b3cc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
    background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
    background-image: linear-gradient(top, #66b3cc, #5da3ba)

}

@-moz-keyframes java {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@-moz-keyframes html-css {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes python {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@-moz-keyframes sql {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@-moz-keyframes cplus {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes c {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes javascript {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

@-moz-keyframes php {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
@-webkit-keyframes java {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@-webkit-keyframes html-css {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes python {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes cplus {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes c {
    0% {
        width: 0;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes sql {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@-webkit-keyframes javascript {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

@-webkit-keyframes php {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.projects-wrapper {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.project-body {
    height: auto;
    width: 40%;
    display: inline-block;
    background: #2F3336;
    margin: 20px 50px 50px;
    border-radius: 30px;
    border: 1px solid white;
    transition: all 0.5s cubic-bezier(0.6, -0.6, 0.2, 1.5);

}

.project-inner {
    margin: 15px;
}

.project-title {
    font-size: 15px;
}

.project-body:hover{
    background: #00b9b7;
}


.project-description {
    margin-top: 20px;
    font-size: 12px;
    text-align: left;

}

.project-description p {
    letter-spacing: normal;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 5px 5px 10px;
    font-size: 10px;
}

@media all and (max-width: 1000px){
    .projects-wrapper{
        margin-top: 10%;
    }


}

@media all and (max-width: 900px) {
    .project-description {
        display: none;
    }
    .project-use {
        display: none;
    }
    .project-title {
        font-size: 12px;
    }
    .calendar {
        display: none;
    }

    .calendar-body {
        display: none;
    }
}


@media all and (max-width: 500px) {
    .project-description {
        display: none;
    }
    .project-use {
        display: none;
    }
    .project-title {
        font-size: 10px;
    }

    .calendar {
        display: none;
    }
    .calendar-body {
        display: none;
    }

}

.calendar {
    width: 730px;
    /*border: 1px solid #DDDDDD;*/
    min-height: 243px;
    text-align: center;
    background: #2F3336;
    color: #2F3336;
    border-radius: 50px;
    text-shadow: none;
    margin: 10px;
}

.calendar-body {
    width: 750px;
    margin: 0 auto;
    margin-top: 10%;
    background: #2F3336;
    color: white;
    border-radius: 75px;
    text-shadow: none;
    border: 1px solid #DDDDDD;
}

.calendar-body h4 {
    margin-top: 50px;
    text-align: center;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 10px;
    fill: white;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: white;
}

.calendar-graph {
    padding: 5px 0 0;
    height: 126px;
    text-align: center;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid white;
    border-top: 1px solid white;
    font-size: 11px;
}

.contrib-column-first {
    border-left: 0;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: white;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}


footer {
    background: none;
}
.test {
    margin-top: 125px;
}
.test a {
    color: #fff;
    border: 1px solid white;
    background: #2F3336;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    margin: 0 2px;
    transition: all .5s;
}
.test a:hover {
    background: #00b9b7;
}
.test a:hover p {
    border-radius: 30px;
    bottom: 35px;
    visibility: visible;
}
.test a p {
    color: #666;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: -1;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.6, -0.6, 0.2, 1.5);
}
.test a p:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px;
}
.test a:nth-of-type(1):before {
    content: '\f09a';
}
.test a:nth-of-type(2):before {
    content: '\f0e0';
}
.test a:nth-of-type(3):before {
    content: '\f08c';
}
.test a:nth-of-type(4):before {
    content: '\f126';
}
.test a:nth-of-type(5):before {
    content: '\f10b';
}
